<!DOCTYPE html>
<html ng-app="movieSite" ng-cloak>
<head>
    <title>Movie Site</title>
    <base href="/"/>
    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">
    <link href="css/site.css" rel="stylesheet">
</head>
<body>
<div ng-controller="MovieSiteCtrl">
    <h1>Welcome</h1>
    <movie-list></movie-list>
</div>
</body>
<script src="js/lib/angular/angular.js"></script>
<script src="js/lib/angular-resource/angular-resource.js"></script>
<script src="js/lib/angular-route/angular-route.js"></script>
<script src="js/lib/angular-filter/dist/angular-filter.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/directives.js"></script>
<script src="js/services.js"></script>
</html>
